<section class="footer">
    <div class="container">
        <div class="row align-items-baseline ">
            <div class="col-4">
                <h2>GET IN TOUCH</h2>
                <p>ahmed45adel@yahoo.com</p>
                <p>2010105684</p>
            </div>
            <div class="col-4 text-center">
                <button type="button" class="btn btn-outline-light">CONTACT ME</button>
            </div>
            <div class="col-4 text-end pt-3">
                <p>copyright &#169; 2021</p>
            </div>
        </div>
    </div>
</section>