<section class="about mt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h1>About me</h1>
            </div>
            <div class="col-9">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus veritatis asperiores, aspernatur,
                    natus in sapiente vitae neque alias cum corrupti maxime velit suscipit assumenda consequuntur
                    voluptas minus cupiditate facere quis.</p>
                <button type="button" class="btn btn-secondary btn-lg">Download Resume
                </button>
            </div>
        </div>
    </div>
</section>