<section class="skills mt-5">
    <div class="container">
        <div class="vstack text-center text-light">
            <div class="m-5">
                <h1>Skills</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus veritatis asperiores,
                    aspernatur,
                    natus in sapiente vitae neque alias cum corrupti maxime velit suscipit assumenda consequuntur
                    voluptas minus cupiditate facere quis, orem ipsum dolor sit amet consectetur adipisicing elit.
                    Possimus veritatis asperiores,
                    aspernatur.</p>
            </div>
        </div>
        <div class="row skills-body pb-5">
            <div class="col-5 text-center p-5">
                <ul class="list-group list-group-flush border-0">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item border-0">A second item</li>
                    <li class="list-group-item border-0">A third item</li>
                    <li class="list-group-item border-0">A fourth item</li>
                    <li class="list-group-item border-0">And a fifth one</li>
                </ul>
            </div>
            <div class="col-7 text-center p-0">
                <div>
                    <div class="progress mb-2 ">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 80%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 70%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>