<section class="portfolio">
    <div class="container">
        <h1>portfolio</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="hstack text-center gap-3 justify-content-center">
                <div class="card myCard ">
                    <div class="card-body bg-secondary myCardBody">
                        <h5>Card title</h5>
                    </div>
                </div>
                <div class="card myCard bg-dark">
                    <div class="card-body myCardBody">
                        <h5>Card title</h5>
                    </div>
                </div>
                <div class="card myCard bg-secondary">
                    <div class="card-body myCardBody">
                        <h5>Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="hstack text-center gap-3 justify-content-center">
                <div class="card myCard bg-dark">
                    <div class="card-body myCardBody">
                        <h5>Card title</h5>
                    </div>
                </div>
                <div class="card myCard bg-secondary">
                    <div class="card-body myCardBody">
                        <h5>Card title</h5>
                    </div>
                </div>
                <div class="card myCard bg-dark">
                    <div class="card-body myCardBody ">
                        <h5>Card title</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>